@page
@model InterportCargoQuotationSystem.Pages.IndexModel

<div style="margin: 0; padding: 0;">
    <img src="/images/home-banner.png"
         alt="InterportCargo Banner"
         style="width: 100vw; height: auto; display: block;" />
</div>

<section class="text-center p-4">
    <p class="lead">
        Welcome to the InterportCargo Quotation System.
        Use the navigation menu above to register, log in, and manage your freight quotations.
    </p>
</section>
