@page
@model InterportCargoQuotationSystem.Pages.RateScheduleModel

<h2 class="text-primary">Rate Schedule</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Service Type</th>
            <th>20 Feet Container</th>
            <th>40 Feet Container</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rate in Model.RateList)
        {
            <tr>
                <td>@rate.Type</td>
                <td>@rate.Container20</td>
                <td>@rate.Container40</td>
            </tr>
        }
    </tbody>
</table>
